@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Unbounded:wght@200..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-color: #FFFFFF;
    --primary-accent: #F00;
    --secondary-accent: #FF8080;
    --text-shadow: rgba(0, 0, 0, 0.25);
    --greenscreen: #00ff00;
}

/* =======================================
   NAVBAR
   ======================================= */

.navbar-creator {
    margin: 0;
    font-size: .75rem;
}

/* =======================================
   CONTROL PANEL
   ======================================= */

.controls {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.control-item-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
}

.control-item {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--font-color);
    h3 {
        margin-bottom: 1rem;
    }
    display: flex;
    flex-direction: column;
}

.control-buttons-wrapper {
    display: flex;
    flex-direction: column;
    .stage-buttons, .control-buttons-streak,
    .control-buttons-reset_counter, .control-buttons-joker {
        margin-bottom: 1rem;
        .btn-group {
            margin-right: .5rem;
        }
    }
}

#inputStreak, #inputResetCounter, #inputJoker, #inputInterval {
    width: 3rem;
    flex: none;
    text-align: center;
}

#resetAllValues {
    margin-top: 2rem;
}

/* =======================================
   DISPLAY VISUALIZATION
   ======================================= */

.display-controls {
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
    .display-visualization, .display-interval {
        display: flex;
        align-items: center;
        gap: .5rem;
        h3 {
            white-space: nowrap;
        }
    }
}

.overlay {
    margin-top: 1.5rem;
    margin-bottom:3rem;
}

.display {
    font-family: 'Nunito', sans-serif;
    color: var(--font-color);

    background-color: var(--greenscreen);
    padding: 10px;
    min-height: 25rem;

    .display-compact, .display-detailed {
        width: 422px;
    }

    h3 {
        font-weight: 800;
        font-style: italic;
        font-size: 3rem;
        text-shadow: 2px 2px 0 var(--primary-accent), 4px 4px 4px var(--text-shadow);
    }
}

.display-heading {
    text-align: center;
}

.display-detailed-stages, .display-compact-stages {
    display: flex;
    gap: .5rem;
    margin-bottom: .5rem;
    .stage-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: .25rem;
        padding-bottom: .25rem;
        font-size: 1.5rem;
        width: 100%;
    }
    .stage-checked {
        background: var(--primary-accent);
        box-shadow: 2px 2px 0 0 #FFF, 4px 4px 4px 0 var(--text-shadow);
        i {
            color: #FFF;
        }

    }
    .stage-unchecked {
        background: #FFF;
        box-shadow: 2px 2px 0 0 var(--secondary-accent), 4px 4px 4px 0 var(--text-shadow);
        i {
            color: var(--secondary-accent);
        }
    }
    .stage-container:nth-child(1) {
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .stage-container:nth-child(4) {
        border-radius: 0 0.5rem 0.5rem 0;
    }
}


.display-detailed-streak, .display-compact-streak,
.display-detailed-reset_counter, .display-compact-reset_counter,
.display-detailed-joker, .display-compact-joker {
    display: flex;
    gap: .25rem;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 2px 2px 0 var(--primary-accent), 4px 4px 4px var(--text-shadow);
    i {
        color: var(--primary-accent);
        text-shadow: 4px 4px 4px var(--text-shadow);
    }
}

.display-compact-info-rotator {
    position: relative;
    min-height: 3rem;
    overflow: hidden;
}

.compact-rotator-item {
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.display-compact-info-rotator .display-compact-streak:first-child {
    /* Will be overwritten by JS, serves as fallback */
    opacity: 1;
}