body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display {
    background-color: #66ff00;
    color: black;
    margin-bottom: 4rem;
    padding: 10px;
}

.display-compact-info-rotator {
    position: relative;
    min-height: 40px;
    overflow: hidden;
}

.compact-rotator-item {
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.display-compact-info-rotator .display-compact-streak:first-child {
    /* Will be overwritten by JS, serves as fallback */
    opacity: 1;
}