body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roulette-display {
    background-color: #66ff00;
    color: black;
}

.roulette-control {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
}

.flex-buttons {
    gap: .5rem;
}