body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-creator {
    margin: 0;
    font-size: .75rem;
}

/* =======================================
   CONTROL PANEL
   ======================================= */

.controls {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.control-item-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
}

.control-item {
    h3 {
        margin-bottom: 1rem;
    }
    display: flex;
    flex-direction: column;
}

.control-buttons-wrapper {
    display: flex;
    flex-direction: column;
    .stage-buttons, .control-buttons-streak,
    .control-buttons-reset_counter, .control-buttons-joker {
        margin-bottom: 1rem;
        .btn-group {
            margin-right: .5rem;
        }
    }
}

#inputStreak, #inputResetCounter, #inputJoker, #inputInterval {
    width: 3rem;
    flex: none;
    text-align: center;
}

#resetAllValues {
    margin-top: 2rem;
}

/* =======================================
   DISPLAY VISUALIZATION
   ======================================= */

.display-controls {
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;
    .display-visualization, .display-interval {
        display: flex;
        align-items: center;
        gap: .5rem;
        h3 {
            white-space: nowrap;
        }
    }
}

.overlay {
    margin-top: 1.5rem;
}

.display {
    background-color: #66ff00;
    color: black;
    margin-bottom: 3rem;
    padding: 10px;
    min-height: 25rem;
}

.display-compact-info-rotator {
    position: relative;
    min-height: 3rem;
    overflow: hidden;
}

.compact-rotator-item {
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.display-compact-info-rotator .display-compact-streak:first-child {
    /* Will be overwritten by JS, serves as fallback */
    opacity: 1;
}