body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display {
    background-color: #66ff00;
    color: black;
    margin-bottom: 4rem;
}

.stage-buttons .btn-check:checked + .btn-outline-primary {
    background-color: red !important;
}